/* @font-face {
    font-family:  "ProximaNova-Regular";
    src: url("../fonts/ProximaNova-Regular.eot");
} */
@font-face {
    font-family: "Axiforma", Sans-serif;
    src: url('../fonts/Axiforma-SemiBold.eot');

    font-weight: 600;
    font-style: normal;
}

* {
    font-family: "Axiforma", Sans-serif;
}

.container {
    width: 100%;
    max-width: 1366px;
    /* max-width: 1920px !important; */
}

/* .left-margin {
    margin-left: 200px;
} */

.text-clr {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;
    color: #0F6496 !important;
}

.hero-section {
    background-position: top;
    background-image: url('../images/Header.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px !important;
}

.hero-content {
    padding: 88px 30px;
}

.hero-content h2 {
    /* font-family: "Axiforma", Sans-serif; */
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}

.hero-content p {
    /* font-family: "Axiforma", Sans-serif; */
    font-style: normal;
    max-width: 686px;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0;
}

.img-80px {
    width: 100px;
    height: 100px;
}

.socialpicsize img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.socialpicsize {
    gap: 10px;
}

.sidenameandlinks {
    padding-left: 12px;
}

.explore-section h2 {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4em;
}

.explore-section h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.4em;
}

.bg-img {
    /* background-image: url('../images/Image_2.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 290px;
}

.bg-toro {
    background-image: url('../images/toro\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 317px !important;

}

.focus-bt .accordion-button:focus {
    background-color: transparent;
    box-shadow: none
}

.focus-bt.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

.bg-fax {
    background-image: url('../images/Image\ \(3\).png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 317px !important;
}

.bg-turk {
    background-image: url('../images/Image\ \(4\).png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 317px !important;
}

.cards-item {
    border-radius: 20px;
    overflow: hidden;
    padding-left: 21px;
    padding-right: 21px;
}

.path-img {
    position: absolute;
    top: 85%;
    left: 79%;
}

.h-4 {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.4em;
    color: #29293D;
    font-family: "Axiforma", Sans-serif;
    padding: 12px 0;
    margin: 0;
}

.foodie {
    border: 1px solid #0F6496;
    border-radius: 40px;
    color: #0F6496;
    text-decoration: none;
    padding: 4px 20px;
    background-color: transparent;
    /* margin: 0px 10px; */
    margin-right: 6px;
}

.tags {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    overflow: hidden;
  }

.city {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    /* line-height: 1.4em; */
    color: #29293D;
    font-family: "Axiforma", Sans-serif;
    margin-top: 16px;
    margin-bottom: 56px;
    gap: 42px;
    font-size: 20px !important;

}


.membr {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 76px;
    color: #000000;
}

.Benjamin {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    /* line-height: 25px; */

    /* Shades/Black/500 */

    color: #0E0E14;
}

.Benjamin-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    /* font-weight: 300; */
    font-size: 16px;
    /* line-height: 25px; */

    /* Shades/Black/500 */

    color: #0E0E14;
}

.team-img {
    width: 120px;
    height: 120px;
}

.map img {
    width: 100%;
    max-width: 1250px;
}

.meet-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}

.anna {

    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4em;

    color: #000000;
}

.slider-img {
    width: 100%;
    max-width: 400px;
    /* height: 300px; */
    margin: 0 auto;
}

.about-us {
    background: #D9EDF2;
}

.members {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 53px;
    text-transform: capitalize;
    color: #000000;
}

.about-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;
    color: #29293D;
}

.join {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.frame-img img {
    width: 100%;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
}



.member-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;



    color: #29293D;
}

.become-btn {
    width: 201px;
    height: 48px;
    color: aliceblue;
    background: #7F7F8B;
    border-radius: 26px;
}

.perfect-item {
    width: 100%;
    max-width: 800px;
}

.about-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.content {
    width: 100%;
    max-width: 900px;
}

.list-unstyled a {
    text-decoration: none;
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
    color: #2A293D;
}

.travel {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;

    color: #29293D;
}

.filters-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #545464;
}

.w-120 {
    max-width: 64px;
    width: 100%;
    border-radius: 6px;
}


.profile-tabs .nav-link {
    font-weight: 600;
    border: 2px solid #000;
    color: #000;
    font-size: 24px;
    line-height: 40px;
    padding: 3px 16px;
}

.profile-tabs .nav-link.active {
    border: 2px solid #C83232 !important;
    color: #C83232 !important;
}

.Ellipse {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 220px;
}

.tripday {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;

}

.map-focus {
    background-color: white;
}


.day-pop-width {
    max-width: 641px !important;
    width: 100%;
}


.map-focus .form-control {
    box-shadow: none;
    border: none;
    background-color: white;

}

.vr3 {
    height: 36px;
}

.footer-feild {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.acordionsinglepage {
    padding: 0 10px;
}

.itemnumbers {
    width: 32px;
    height: 32px;
}

.member-img {
    width: 120px;
    margin-bottom: 20px;
}

.sideborder {
    height: 100%;
}

.vr1 {
    left: 26px;
    z-index: 0;
}

.vr2 {
    width: 2px;
}

.navyblubtn {
    background: #0F6496;
}


.member-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.heart-img {
    width: 100px;
    max-width: 25px;
}

.social-descover {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #9F9FA1
}

.filter-bordr {

    width: 100%;
    max-width: 750px;
    justify-content: start;
}

.filter-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D9D9D9;
    border-top: 2px solid #D9D9D9;
    padding: 8px 0;
}

#selected-feild button {
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 4px 18px;
    background: #0F6496;
    border-radius: 20px;
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.4em;
    color: #FFFFFF;
}

#selected-feild {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-logo-img {
    width: 21.33px;

}

.gap-2 {
    line-height: 38px !important;
}

.section-display {
    display: flex !important;
    justify-content: space-between !important;
}

footer {
    border-top: 1px solid #2A293D;

}

header {
    border-bottom: 1px solid #2A293D;
}

.trip-h1 {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 76px;
    color: #2A293D;

}

.profile {
    background: #FFFFFF;
    /* Card - Shadow */

    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
}

.profiles {
    background: #FFFFFF;
    /* Card - Shadow */

    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    height: 524px;
    overflow-y: auto;
}

.btn-check:checked+.btn,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: black !important;
    color: white;
}

.filter-bordr .btn:hover {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
}

.profiler {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
    /* identical to box height, or 200% */


    /* Primary/Dark Blue/500 */

    color: #2A293D;
}

.mt-32 {
    margin-top: 32px;
}

.profiler-related {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px !important;
    line-height: 48px;
    /* identical to box height, or 200% */


    /* Primary/Dark Blue/500 */

    color: #2A293D;
}

.profile-details {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;

    color: #1d1d1e;
}

.lang {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px !important;
    /* line-height: 1.4em; */


    color: #000000 !important;
}

.profile-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4em;


    color: #3E3E43;

}

.city .profile-p {
    font-size: 20px;
}

.related {
    width: 100%;
    max-width: 400px;
}

.city {
    width: 100%;

}

.city img {
    width: 32px;
    height: 32px;
}

.wed-img {
    width: 100%;
    max-width: 1032px;
    max-height: 412px;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;

    margin: 64px 0;
}

.map-margin {
    margin: 72px 0;
}

.margin-top-75 {
    margin-top: 75px;

}

.socail-imgaes {
    width: 24px;
    height: 24px;
    gap: 10px;
}

.heart-size {
    width: 36px;
    height: 30px;
}

.w-200 {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.w-150 {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.w-120px {
    max-width: 120px;
    width: 100%;
    height: 90px;
}

.w-120i {
    max-width: 120px;
    width: 100%;
    height: 120px;
}

.mb-36px {
    margin-bottom: 36px;
}

.profile-gap {
    gap: 35px;
}



.small-tiny-color {
    color: #9F9FA1;
}

.side-iamge-set {
    max-width: 64px;
    width: 100%;
    height: 64px;
    height: 100%;
    border-radius: 6px;
}

.profile-relate {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4em;
    color: #2A293D;
}

.related {
    font-weight: 600;
    font-size: 20px !important;
    line-height: 33px;
}

.vector-img {
    height: 330px;
}

.red-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px !important;
    line-height: 1.4em;
    min-width: 70px;
    color: #C83232;
}

.imgagesize {
    width: 40px;
    height: 40px;
}

.profilefont {
    font-size: 16px !important;
}

.profilefont1 {
    font-size: 20px !important;
}

.linesize {
    height: 25px;
}

.yoga {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px !important;
    line-height: 1.4em;


    color: #3E3E43 !important;
}

.days-menu {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    /* max-width: 650px; */
}

.images-items {
    overflow-x: auto;
}

.line {
    width: 100%;
    height: 1.5px;
}

.sea-img {
    max-width: 200px;
    width: 100%;
    max-height: 264px;
    height: 100%;
    object-fit: cover;

}

.margin-custom {
    margin-bottom: 88px;
}

.px-32 {
    padding: 0 32px !important;
}

.my-32 {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

.dropzone {
    border: 3px dashed black !important;
}

.save-bt1 {
    padding: 7px 32px !important;
}

.fam-img {
    width: 400px;
    /* height: 264px; */

}

.i-img-width {
    width: 38%;
}

.position-close-bt {
    top: 15px;
    right: 30px;
}

.seaimg {
    width: 96px;
    /* height: 128px; */

}

.mycollapsebutton .accordion-button:focus {

    background-color: transparent;
    border: none;
    box-shadow: none
}

.mycollapsebutton .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none
}

.slickslider .slick-slide {
    margin-right: 15px;
    margin-left: 15px;
}

.slickslider .slick-slide:last-child {
    margin-right: 0;
}

.slickslider6 .slick-slide {
    margin-right: 15px;
    margin-left: 15px;
}

.slickslider6 .slick-slide:last-child {
    margin-right: 0;
}

.login-to-add {

    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px !important;
    line-height: 25px;
    color: #6E6E72 !important;
}

.coments {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 33px;
    color: #2A293D !important;
}

.load-btn {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px !important;
    line-height: 1.4em;
    /* or 150% */


    /* Primary/Dark Blue/500 */

    color: #2A293D !important;
}

/* Floating input label */


.did-floating-label-content {
    position: relative;
    margin-bottom: 20px;
}

.did-floating-label {
    font-size: 16px;
    color: #0F6496;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 30%;
    padding: 0 5px;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.did-floating-input,
.did-floating-select {
    display: block;
    width: 100%;
    height: 58px;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: 1px solid #29293D;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
        outline: none;

        ~.did-floating-label {
            top: -8px;
            font-size: 16px;
        }
    }
}

select.did-floating-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.did-floating-select::-ms-expand {
    display: none;
}

.did-floating-input:not(:placeholder-shown)~.did-floating-label {
    top: -8px;
    font-size: 13px;
}

.did-floating-select:not([value=""]):valid~.did-floating-label {
    top: -8px;
    font-size: 13px;
}

.did-floating-select[value=""]:focus~.did-floating-label {
    top: 11px;
    font-size: 13px;
}

.did-floating-select:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371, 294l4, 6, 4-6Z' transform='translate(-371 -294)' fill='%23003d71'/%3E%3C/svg%3E%0A");
    background-position: right 15px top 50%;
    background-repeat: no-repeat;
}

.did-error-input {

    .did-floating-input,
    .did-floating-select {
        border: 2px solid #9d3b3b;
        color: #9d3b3b;
    }

    .did-floating-label {
        font-weight: 600;
        color: #9d3b3b;
    }

    .did-floating-select:not([multiple]):not([size]) {
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371, 294l4, 6, 4-6Z' transform='translate(-371 -294)' fill='%239d3b3b'/%3E%3C/svg%3E%0A");
    }
}

.input-group {
    display: flex;

    .did-floating-input {
        border-radius: 0 4px 4px 0;
        border-left: 0;
        padding-left: 0;
    }
}

.input-group-append {
    display: flex;
    align-items: center;
    /*   margin-left:-1px; */
}

.input-group-text {
    display: flex;
    align-items: center;
    font-weight: 400;
    height: 34px;
    color: #323840;
    padding: 0 5px 0 20px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #3D85D8;
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.profile-img {
    width: 121px;
    height: 121px;

}

.card-title-profile {
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3em;
    /* identical to box height, or 167% */
    color: #000000;
}

.myitinerylist {
    padding-left: 69px;
    padding-right: 69px;
}

.card-text {
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;
    color: #6E6E72;
}

.border-card {
    border-right: 2px solid #000000;
    padding-right: 30px;
    min-height: 744px;
    height: auto;
}

.accordion-button:not(.collapsed) {
    color: black;
}

.width-48 {
    width: 48px;
    background: #CCC;
    border-radius: 50%;
}

.tags-links1 {
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #29293F;
}

.button-24 {
    max-width: 24px;
    width: 100%;

}

.profile-padding-left {
    padding-left: 30px;
}

.tags-description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;
    margin: 28px 0;
    padding-left: 35px;

}

.profile-button1 {
    padding: 20px;
}

.tab-content {
    width: 100%;
    margin: auto;
}

.nav-tabs {
    border-bottom: none !important;
    padding: 50px 0;

    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-color: #dee2e6;
    --bs-nav-tabs-border-radius: 0.375rem;
    /* --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6; */
    --bs-nav-tabs-link-active-color: #495057;
    /* --bs-nav-tabs-link-active-bg: #fff; */
    /* --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff; */
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);

}

.accordionbtn::after {

    transform: rotate(270deg);
}

.accordionbtn:not(.collapsed)::after {

    transform: rotate(360deg);
}

.accordionbtn.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: none
}

.accordionbtn.accordion-button:focus {
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);

}

.save-bt {
    padding: 7px 41px !important;
}

.add-activity-bt {
    color: #C83232;
    border: 1px solid #C83232;
}

.accordion-button:not(.collapsed) .save-bt {
    padding: 7px 41px;
}

.attach-area-width {
    max-width: 400px;
}

.edit-bt-size {
    width: 20px;
    height: 20px;
}

.title1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;

}

.font-20 {
    font-weight: 600;
    font-size: 24px;
}

.font-300-16 {
    font-weight: 300;
    font-size: 16px;
}

.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: transparent !important;
}

/* For mobile phones: */

@media only screen and(min-width: 576px) {

    .perfect-item {
        max-width: 500px;
    }

    .travel {
        font-size: 25px !important;
    }

    .filters-p {
        font-size: 16px;
    }

    .member-info {
        /* display: flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
        width: 100%;
        max-width: 400px;
        padding-top: 20px;
        margin: 0 auto !important;
    }



    .Benjamin {

        font-weight: 700;
        font-size: 14px;
        color: #0E0E14;
    }

    .Benjamin-p {
        font-family: "Axiforma", Sans-serif;
        font-style: normal;
        /* font-weight: 300; */
        font-size: 12px;
        /* line-height: 25px; */

        /* Shades/Black/500 */

        color: #0E0E14;
    }

    .member-img {
        width: 76px;
    }

    .about-item {
        flex-wrap: wrap;
    }

    .hero-content h2 {
        font-size: 42px;
        line-height: 76px;

    }

    .tiny-logo {
        margin-bottom: 30px;
    }

    .touch {
        margin: 30px 0;
    }

    .footer {
        padding: 0 20px;
    }

    .spotlight-center {
        margin: 0 auto;
    }

    .hero-section {
        min-height: 400px;
        height: auto;
    }
}

@media screen and (max-width: 489px) {
    .hero-content {
        padding: 50px 17px !important;
    }

    .bg-img {
        height: 172px !important;
    }

    .trip-h1 {
        font-size: 28px;
    }
    .slickslider .slick-slide {
        margin-left: 10px;
        margin-right: 10px;
    }

    .profile-img {
        width: 107px !important;
        height: 107px !important;
    }

    .card-title-profile {
        font-size: 20px !important;
    }

    .border-card {
        min-height: 400px !important;
        padding: 0 30px !important;
    }

    .path-img {
        width: 21px !important;
        height: 17px !important;
    }

    .foodie {

        padding: 3px 8px !important;
    }


    .profile-relate {
        font-size: 16px !important;
    }

    .hero-content h2 {
        font-size: 36px !important;
    }

    .explore-section h1 {
        font-size: 20px !important;
        width: 190px;

    }

    .explore-section h2 {
        font-size: 14px !important;
    }

    .navbar-brand img {
        width: 114px !important;
        height: 40px !important;
    }

    .membr {
        font-size: 20px !important;
        margin-bottom: 16px !important;
    }

    .member-img {
        width: 76px !important;
        height: 76px !important;
    }

    .Benjamin {
        font-size: 16px !important;
    }

    .Benjamin-p {
        font-size: 12px !important;
    }

    .heart-size {
        width: 24px !important;
        height: 20px !important;
    }

    .img-80px {
        width: 80px !important;
        height: 80px !important;
    }

    .profile-tabs .nav-link {
        font-size: 16px !important;
        line-height: 1.4em !important;
    }

    .myitinerylist {
        padding: 0 30px !important;

    }

    .nav-tabs {
        padding: 10px 0;
        margin-left: 31px;
    }

    .title1 {
        font-size: 16px !important;

    }

    .title-p {
        font-size: 12px !important;
    }

    .add-size img {
        width: 18px !important;
        height: 18px !important;
    }

    .w-120 {
        height: 64px !important;
    }

    .footer {
        border: 0px solid black !important;
    }

    .hero-c-p {
        font-size: 16px !important;
    }

    .font-12 {
        font-size: 12px !important;
    }

    .join {
        font-size: 16px !important;
    }

    .profile-tabs .nav-link {
        font-size: 16px !important;
    }

    .w-120i {
        max-width: 64px !important;

        height: 64px !important;
    }

    .title1 {
        font-size: 14px !important;

    }

    .map-img {
        width: 70px !important;
        height: 70px !important;
    }

    .font-20 {
        font-size: 20px !important;
    }

    .travel {
        font-size: 20px !important;
    }

    .filters-p {
        font-size: 14px;
    }
}


@media screen and (max-width: 1024px) {


    .filters-p {
        font-size: 16px;
    }

    .my-c {
        padding: 36px 0;
    }

    .travel {
        font-size: 24px;
    }

    .w-120i {
        max-width: 80px;
        height: 80px;
    }

    .w-24 {
        width: 24px;
        height: 24px;
    }

    .w-120 {
        height: 64px;
    }

    .myitinerylist {
        padding: 0 30px;
    }

    .add-size img {
        width: 33px;
        height: 33px;
    }

    .border-card {
        padding: 0 30px;
    }

    .title-p {
        font-size: 14px;
    }

    .bg-img {
        height: 200px;
    }

    .border-card {
        min-height: 566px;
    }

    .title1 {
        font-size: 16px;
        line-height: 1.4em;
    }

    .e-text-size {
        font-weight: 300;
        font-size: 10px;
    }

    .Ellipse {
        max-width: 120px;

        padding: 2px !important;
    }

    .profile-tabs .nav-link {
        font-size: 18px;
        line-height: 1.4em;
    }

    .width-48 {
        width: 24px;
    }

    .path-img {
        width: 24px;
        height: 20px;
    }

    .h-4 {
        font-size: 16px;
    }

    .foodie {
        font-size: 12px;
        padding: 3px 12px;
    }

    .city {
        font-size: 12px !important;
        margin-top: 10px !important;
        margin-bottom: 40px !important;
    }



    .cards-item {
        border-radius: 0;
        padding-left: 5px;

    }

    .hero-content h2 {
        font-size: 56px;
        line-height: 1.4em;
    }

    .hero-content p {
        font-size: 20px;
        line-height: 1.4em;
    }

    .hero-content {
        padding: 88px 17px;
    }

    .explore-section h1 {
        font-size: 24px;

    }

    .explore-section h2 {
        font-size: 16px;
    }

    .navbar-brand img {
        width: 140px;
        height: 48px;
    }

    .membr {
        font-size: 24px;
        line-height: 1.4em;
        margin-bottom: 24px;
    }

    .member-img {
        width: 80px;
        height: 80px;
    }

    .Benjamin {
        font-size: 20px;
    }

    .heart-size {
        width: 36px;
        height: 30px;
    }

    .related {
        font-size: 20px;
    }

    .border-card {
        min-height: 450px;
    }

    .nav-tabs {
        padding: 15px 0;
    }

    .coments {
        font-size: 20px;

    }
}
