/* @font-face {
    font-family:  "ProximaNova-Regular";
    src: url("../fonts/ProximaNova-Regular.eot");
} */

@font-face {
    font-family: "Axiforma", Sans-serif;
    src: url('../fonts/Axiforma-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma", Sans-serif;
    src: url('../fonts/Axiforma-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma", Sans-serif;
    src: url('../fonts/Axiforma-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma", Sans-serif;
    src: url('../fonts/Axiforma-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma", Sans-serif;
    src: url('../fonts/Axiforma-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: "Axiforma", Sans-serif;
}

.container {
    width: 100%;

    /* padding-left: 64px !important;
    padding-right: 64px !important; */
    max-width: 1920px !important;
}

.hero-content-h2 {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    /* font-size: 72px; */
    font-size: 57px;
    color: #FFFFFF;
}

.hero-content-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    max-width: 530px;
    width: 100%;
    font-weight: 400;
    /* font-size: 24px; */
    font-size: 19px;

    color: #FFFFFF;
    margin: 0;
}

.explore-section h1 {
    font-weight: 600;
    /* font-size: 32px; */
    font-size: 25px;
    line-height: 1.4em;
}

.icons-color {
    color: #dc3545;
}

.membr {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 600;
    /* font-size: 32px; */
    font-size: 25px;
    line-height: 76px;
    color: #000000;
}

.explore-section h2 {
    font-weight: 300;
    /* font-size: 20px; */
    font-size: 16px;
    line-height: 1.4em;
}

.h-4 {
    font-style: normal;
    font-weight: 300;
    /* font-size: 24px; */
    font-size: 20px;
    line-height: 1.4em;
    color: #29293D;
    font-family: "Axiforma", Sans-serif;
    padding: 12px 0;
    margin: 0;
}

.Benjamin {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    /* font-size: 24px; */
    font-size: 20px;
    /* line-height: 25px; */

    /* Shades/Black/500 */

    color: #0E0E14;
}

.Benjamin-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    /* font-size: 16px; */
    font-size: 14px;
    /* line-height: 25px; */

    /* Shades/Black/500 */

    color: #0E0E14;
}

.city {
    font-style: normal;
    font-weight: 200;
    /* line-height: 1.4em; */
    color: #29293D;
    font-family: "Axiforma", Sans-serif;
    margin-top: 16px;
    margin-bottom: 56px;
    -webkit-column-gap: 42px;
    -moz-column-gap: 42px;
    column-gap: 42px;
    /* font-size: 20px !important; */
    font-size: 16px;
    padding-bottom: 10px;
}

.travel {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    /* font-size: 40px; */
    font-size: 32px;
    color: #29293D;
}

.filters-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    /* font-size: 20px; */
    font-size: 16px;
    line-height: 32px;
    color: #545464;
}

.btn-dark-r {
    border-radius: 20px;
    border: 1px solid #545464;
    font-size: 14px;
    font-weight: 300;
    color: #545464;

}

.trip-h1 {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    /* font-size: 42px; */
    font-size: 34px;
    color: #2A293D;
    text-transform: capitalize;

}

.profile-relate {
    font-weight: 300;
    /* font-size: 20px; */
    font-size: 16px;
    line-height: 1.4em;
    color: #2A293D;
}

.profiler {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 500;
    /* font-size: 24px; */
    font-size: 20px;
    word-break: break-word;
    /* identical to box height, or 200% */


    /* Primary/Dark Blue/500 */

    color: #2A293D;
}

.card-title-profile {
    font-family: "Axiforma", Sans-serif;
    ;
    font-style: normal;
    font-weight: 600;
    /* font-size: 24px; */
    font-size: 20px;
    line-height: 1.3em;
    /* identical to box height, or 167% */
    color: #000000;
}



.related {
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
}

.gallery {
    /* font-size: 24px; */
    font-size: 20px;
    font-weight: 700;
}

.fs-16-700 {
    font-size: 14px;
    font-weight: 700;
}

.time-left {
    font-size: 14px;
    font-weight: 300;
    color: #6E6E72;
}

.card-text {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    /* font-size: 16px; */
    font-size: 13px;
    line-height: 1.4em;
    color: #6E6E72;
}

.profile-tabs .nav-link {
    font-weight: 600;
    font-family: "Axiforma", Sans-serif;
    border: 2px solid #000;
    color: #000;
    /* font-size: 24px; */
    font-size: 20px;
    padding: 3px 16px;
    line-height: 1.4em;
}

.btn-dark-r1 {
    border-radius: 50px;
    border: 2px solid #000;
    background: transparent;

}

.btn-dark-r1:focus {
    color: #C83232;
    border: 2px solid #C83232;
}

.p-up {
    color: #2A293D;
    cursor: pointer;
}

.p-up:hover {
    color: #C83232;

}

.title1 {
    /* font-size: 20px; */
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;

}

.scroller-white::-webkit-scrollbar {
    width: 4px;

}

.scroller-white::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroller-white::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 1px solid white;
    border-radius: 20px;

}

.scroller-h {
    overflow: hidden;
}

.scroller-h::-webkit-scrollbar {
    height: 0px;
}

.filter-section .form-check-input:checked {
    background-color: #0F6496;
    border-color: #0F6496;
}

.cpagination .active>.page-link,
.page-link.active {
    background-color: #0F6496;
    border-color: #0F6496;

}

.page-link {
    color: #0F6496;
}

.scroller-h::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(245, 218, 218, 0.3);
}

.scroller-h::-webkit-scrollbar-thumb {
    background-color: rgb(238, 238, 238);
    outline: 1px solid #fefefe;
    border-radius: 20px;

}

.s_h-300px {
    height: 350px;
    overflow: auto;
}

.foodie {
    border: 1px solid #0F6496;
    border-radius: 40px;
    color: #0F6496;
    text-decoration: none;
    padding: 4px 20px;
    background-color: transparent;
    /* margin: 0px 10px; */
    margin-right: 6px;
    font-size: 14px;
    /* font-size: 16px; */
    font-weight: 300;
    line-height: 1.3em;


}

.profile-details {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    /* font-size: 16px; */
    font-size: 14px;
    line-height: 1.4em;
    color: #1d1d1e;
}

.profiler-related {
    font-weight: 600;
    font-size: 20px;
    color: #2A293D;
}

.fs-14-300 {
    font-size: 14px;
    /* font-size: 12px; */
    font-weight: 300;
}

.list-unstyled a {
    text-decoration: none;
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 500;
    /* font-size: 16px; */
    font-size: 14px;
    line-height: 1.4em;
    color: #2A293D;
}

.black-300 {
    color: #6E6E72 !important;
}

.dark-blue-500 {
    color: #2A293D !important;
}


/* .left-margin {
    margin-left: 200px;
} */

.text-clr {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;
    color: #0F6496 !important;
}

.hero-section {
    background-position: center;
    background-image: url('../images/Header.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px !important;
}

.w-140 {
    width: 140px;
}

.hero-content {
    padding: 88px 30px;
}



.img-80px {
    width: 100px;
    height: 100px;
}

.socialpicsize img {
    width: 24px;
    height: 24px;
    -o-object-fit: cover;
    object-fit: cover;
}

.socialpicsize {
    gap: 10px;
    flex-wrap: unset;
}

.sidenameandlinks {
    padding-left: 12px;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 50px !important;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 50px !important;
    padding-right: 10px !important;
    padding-right: 10px !important;
    background: transparent !important;
    border: 1px solid #0F6496 !important;
    color: #0F6496 !important;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border: 0px !important;
    color: #0F6496 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    font-size: 14px;
    font-weight: 300;
}

.mx-32 {
    margin-left: 32px;
    margin-right: 32px;
}

.bg-img {
    /* background-image: url('../images/Image_2.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 290px;
    border-radius: 12px;

}

.r-12 {
    border-radius: 12px;
}

.bg-toro {
    background-image: url('../images/toro_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 317px !important;

}

.focus-bt .accordion-button:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.focus-bt.accordion-button:not(.collapsed) {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

.bg-fax {
    background-image: url('../images/Image_3.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 317px !important;
}

.bg-turk {
    background-image: url('../images/Image_4.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 317px !important;
}

.cards-item {
    border-radius: 20px;
    overflow: hidden;

}

.path-img {
    position: absolute;
    top: 82%;
    left: 79%;
}



.tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* justify-content: space-between; */

    min-height: 34px;
    height: auto;
    padding-bottom: 10px;
}

.w-40 {
    width: 40px;
    height: 40px;
}

.w-h-68p {
    height: 68px;
    width: 68px;
}





.team-img {
    width: 120px;
    height: 120px;
}

.map img {
    width: 100%;
    max-width: 1250px;
}

.meet-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}

.filter-bordr .btn:hover {
    background-color: #6c757d !important;
}

.anna {

    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4em;

    color: #000000;
}


.slider-img {
    width: 100%;
    max-width: 400px;
    /* height: 300px; */
    margin: 0 auto;
}

.about-us {
    background: #D9EDF2;
}

.members {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 53px;
    text-transform: capitalize;
    color: #000000;
}

.about-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;
    color: #29293D;
}

.join {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.frame-img img {
    width: 100%;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
}



.member-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;



    color: #29293D;
}

.become-btn {
    width: 250px;
    padding: 12px 0px 9px 0px;
    color: aliceblue;
    /* background: #29293D; */
    background: var(--updated-primary-dark-blue-dark-blue-300, #7F7F8B);
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;

}

.perfect-item {
    width: 100%;
    max-width: 800px;
}

.about-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
}

.content {
    width: 100%;
    max-width: 900px;
}





.w-120 {
    width: 64px;
    height: 64px;
    border-radius: 6px;
}




.profile-tabs .nav-link.active {
    border: 2px solid #C83232 !important;
    color: #C83232 !important;
}

.Ellipse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    max-width: 220px;
}

.tripday {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;

}

.map-focus {
    background-color: white;
}


.day-pop-width {
    max-width: 641px !important;
    width: 100%;
}


.map-focus .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background-color: white;

}

.vr3 {
    height: 36px;
}

.footer-feild {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.acordionsinglepage {
    padding: 0 10px;
}

.itemnumbers {
    width: 32px;
    height: 32px;
    z-index: 2;
}

.member-img {
    width: 120px;
    margin-bottom: 20px;
}

.sideborder {
    height: 100%;
}

.vr1 {
    left: 26px;
    z-index: 1;
}

.vr2 {
    width: 2px;
}

.navyblubtn {
    background: #0F6496;
}


.member-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;

}

button:focus:not(:focus-visible).navbar-toggler {
    box-shadow: none;

}

.heart-img {
    width: 100px;
    max-width: 25px;
}

.social-descover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.media-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #9F9FA1
}

.filter-bordr {

    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.filter-logo {
    display: flex;
    align-items: center;
}

.filter-logo-img {
    width: 32px;
    height: 32px;
}

.filter-h2 {
    font-family: "Axiforma", Sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.filter-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #D9D9D9;
    border-top: 2px solid #D9D9D9;
    padding: 8px 0;
}

.selected-feild button,
.selected-feild label,
.selected-feild a.clearbtn {
    text-align: center;
    border-radius: 20px;
    font-weight: 300;
    font-size: 12px;
    color: #FFF;
    background: #0F6496;
    padding: 5px 12px 3px 12px;

}

.clearbtn1 {
    text-align: center;
    width: 137px;
    border-radius: 20px;
    font-weight: 300;
    font-size: 12px;
    color: #FFF;
    background: #0F6496;
    padding: 5px 12px 3px 12px;
}

.clearbtn1:hover {
    background: #0F6496 !important;
    color: white;
}

.clearbtn,
.clearbtn_range {
    text-align: center;

    border-radius: 20px;
    font-weight: 300;
    font-size: 12px;
    color: #FFF;
    background: #0F6496;
    padding: 5px 12px 3px 12px;
}




.section-display {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

footer {
    border-top: 1px solid #CFCFD0;

}

header {
    border-bottom: 1px solid #CFCFD0;
}


.profile {
    background: #FFFFFF;
    /* Card - Shadow */
    -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
    padding: 24px 26px 24px 26px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    gap: 32px;
}

.profiles {
    background: #FFFFFF;
    /* Card - Shadow */

    -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);

    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    height: 524px;
    overflow-y: auto;
    padding: 26px;
}

.btn-check:checked+.btn,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #545464 !important;
    color: white;
}

.btn-check:checked+.btn,
.btn.activedropdown,
.btn.show {
    background-color: #2A293D !important;
    color: white;
}

.filter-bordr .btn:hover {
    border: 1px solid #f8f9fa;
}

.filter .filter-bordr .btn:hover {
    background-color: #2A293D !important;
    color: white;
}


.mt-32 {
    margin-top: 32px;
}



.lang {
    font-weight: 300;
    /* font-size: 14px ; */
    font-size: 12px;
    color: #7F7F8B;

}

.lang1 {
    font-weight: 300;
    /* font-size: 14px ; */
    font-size: 12px;
    color: #6E6E72;

}

.lang a {
    color: #7F7F8B;

}


.profile-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;


    color: #3E3E43;

}

.bright-70 {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    -o-object-fit: cover;
    object-fit: cover;

}




.related {
    width: 100%;
    max-width: 400px;
}

.city {
    width: 100%;

}

.city img {
    width: 32px;
    height: 32px;
}

.wed-img {
    width: 100%;
    max-height: 412px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 12px;
    /* margin: 64px 0; */
}

.h-412 {
    width: 100%;
    height: 412px;
}


.map-margin {
    margin: 72px 0;
}

.featuredimg-padding {
    padding: 64px 0;
}

.margin-top-75 {
    margin-top: 75px;

}

.socail-imgaes img {
    width: 24px;
    height: 24px;

}

.socail-imgaes {
    gap: 7px;
}

.heart-size {
    width: 36px;
    height: 36px;
}

.heart-position {
    top: 0;
    left: 0;
    padding: 4px 0 0 4px;
}

.w-200 {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.w-150 {
    width: 150px;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
}

.w-120px {
    max-width: 120px;
    width: 100%;
    height: 90px;

}

.w-120i {
    max-width: 120px;
    width: 100%;
    height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 8px;
}

.mb-36px {
    margin-bottom: 36px;
}

.profile-gap {

    column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
}



.small-tiny-color {
    color: #9F9FA1;
}

.side-iamge-set {
    max-width: 64px;
    width: 100%;
    height: 64px;
    height: 100%;
    border-radius: 6px;
}




.vector-img {
    height: 330px;
}

.red-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px !important;
    line-height: 1.4em;
    min-width: 70px;
    color: #C83232;
}

.imgagesize {
    width: 40px;
    height: 40px;
}

.profilefont {
    font-size: 16px !important;
}

.profilefont1 {
    font-size: 20px !important;
}

.linesize {
    height: 25px;
}

.yoga {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px !important;
    line-height: 1.4em;


    color: #3E3E43 !important;
}

.days-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    gap: 12px;
    /* align-items: center; */
    width: 100%;
    /* max-width: 650px; */
}

.idays {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.images-items {
    overflow-x: auto;
}

.line-idays {
    width: 100%;
}

.line {
    width: 100%;
    height: 1.5px;
}

.sea-img {

    width: 100%;
    border-radius: 10px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;

}

.gap-12p {
    gap: 12px;
}

.margin-custom {
    margin-bottom: 88px;
}

.px-32 {
    padding: 0 32px !important;
}

.my-32 {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

.dropzone {
    border: 3px dashed black !important;
}

.save-bt1 {
    padding: 7px 32px 5px 32px !important;
}

.fam-img {
    width: 400px;
    /* height: 264px; */

}

.i-img-width {
    width: 38%;
}

.position-close-bt {
    top: 15px;
    right: 30px;
}

.seaimg {
    width: 96px;
    /* height: 128px; */

}

.mycollapsebutton .accordion-button:focus {

    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.mycollapsebutton .accordion-button:not(.collapsed) {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.slickslider .slick-slide {
    margin-right: 15px;
    margin-left: 15px;
}

.slickslider .slick-slide:last-child {
    margin-right: 0;
}

.slickslider6 .slick-slide {
    margin-right: 15px;
    margin-left: 15px;
}

.slickslider6 .slick-slide:last-child {
    margin-right: 0;
}

.login-to-add {

    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px !important;
    line-height: 25px;
    color: #6E6E72 !important;
}

.coments {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 33px;
    color: #2A293D !important;
}

.load-btn {
    font-size: 16px;
    border: 1px solid#7F7F8B;
    color: #2A293D;
    background: transparent;
    border-radius: 50px;
}

.load-btn:hover {
    background: #7F7F8B;
    border: 1px solid#7F7F8B;
    color: white;
}

.fs-16-400 {
    font-size: 16px;
    font-weight: 400;
}

.fs-16-500 {
    font-size: 16px;
    font-weight: 500;
}

.fs-16-300 {
    font-size: 16px;
    font-weight: 300;
    color: #3E3E43;
}

.fs-26-300 {
    font-size: 26px !important;
    font-weight: 300 !important;

}

.fs-20-300 {
    /* font-size: 20px; */
    font-size: 16px;
    font-weight: 300;
    color: #2A293D;
}

.fs-24-600 {
    font-size: 24px;

    font-weight: 600;
}

.fs-24-700 {
    font-size: 24px;

    font-weight: 700;
}

.fs-18-600 {
    font-size: 18px;

    font-weight: 600;
}

.fs-12-300 {

    font-weight: 300;
    font-size: 12px;
}

.fs-12-400 {

    font-weight: 400;
    font-size: 12px;
}

.bg-activity {
    background: #F5F5F6;
}

/* Floating input label */

.did-floating-label-content {
    position: relative;
    margin-bottom: 20px;
}

.r-10 {
    border-radius: 10px;
}

.nav-tabs .nav-link {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.nav-tabs .nav-link:hover {
    border: 2px solid #000;
}

.pass-icon {
    top: 18px;
    right: 28px;
}

.pass-icon1 {
    top: 18px;
    right: 20px;
}


.did-floating-label {
    font-size: 15px;
    color: #0F6496;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 14px;
    top: 14px;
    padding: 0 10px;
    background: #fff;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.did-floating-input,
.did-floating-select {
    display: block;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    border: 1px solid !important;
    font-weight: 300;
    background: #fff;
    color: #323840;
    border: 1px solid #29293D;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:focus {
        outline: none;

        ~.did-floating-label {
            top: -8px;
            font-size: 16px;
        }
    }
}

select.did-floating-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.did-floating-select::-ms-expand {
    display: none;
}

.did-floating-input:not(:-moz-placeholder-shown)~.did-floating-label {
    top: -8px;
    font-size: 13px;
}

.did-floating-input:not(:-ms-input-placeholder)~.did-floating-label {
    top: -8px;
    font-size: 13px;
}

.did-floating-input:not(:placeholder-shown)~.did-floating-label {
    top: -8px;
    font-size: 13px;
}

.did-floating-select:not([value=""]):valid~.did-floating-label {
    top: -8px;
    font-size: 13px;
}

.did-floating-select[value=""]:focus~.did-floating-label {
    top: 11px;
    font-size: 13px;
}

.did-floating-select:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371, 294l4, 6, 4-6Z' transform='translate(-371 -294)' fill='%23003d71'/%3E%3C/svg%3E%0A");
    background-position: right 15px top 50%;
    background-repeat: no-repeat;
}

.did-error-input {

    .did-floating-input,
    .did-floating-select {
        border: 2px solid #9d3b3b;
        color: #9d3b3b;
    }

    .did-floating-label {
        font-weight: 600;
        color: #9d3b3b;
    }

    .did-floating-select:not([multiple]):not([size]) {
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371, 294l4, 6, 4-6Z' transform='translate(-371 -294)' fill='%239d3b3b'/%3E%3C/svg%3E%0A");
    }
}

.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;


}

.did-floating-input {
    border-radius: 0 4px 4px 0;
    border-left: 0;
    padding-left: 0;
}

.input-group-append {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*   margin-left:-1px; */
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
    height: 34px;
    color: #323840;
    padding: 0 5px 0 20px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #3D85D8;
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.profile-img {
    width: 121px;
    height: 121px;

}






.border-card {
    border-right: 2px solid #000000;

    min-height: 744px;
    height: auto;
}

.accordion-button:not(.collapsed) {
    color: black;
}

.width-48 {
    width: 48px;
    background: #CCC;
    border-radius: 50%;

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px !important;
    font-weight: 300;

}


.tags-links1 {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #29293F;
}

.button-24 {
    max-width: 45px;
    /* max-width: 36px; */
    width: 100%;

}

.profile-padding-left {
    padding-left: 30px;
}

.tags-description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;
    margin: 28px 0;


}

.p-30p {
    padding: 30px;
}

.profile-button1 {
    padding: 20px;
}

.tab-content {
    width: 100%;
    margin: auto;
}

.nav-tabs {
    border-bottom: none !important;
    padding: 50px 0;

    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-color: #dee2e6;
    --bs-nav-tabs-border-radius: 0.375rem;
    /* --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6; */
    --bs-nav-tabs-link-active-color: #495057;
    /* --bs-nav-tabs-link-active-bg: #fff; */
    /* --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff; */
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);

}

.accordionbtn::after {

    -webkit-transform: rotate(270deg);

    -ms-transform: rotate(270deg);

    transform: rotate(270deg);
}

.accordionbtn:not(.collapsed)::after {

    -webkit-transform: rotate(360deg);

    -ms-transform: rotate(360deg);

    transform: rotate(360deg);
}

.accordionbtn.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none
}

.accordionbtn.accordion-button:focus {
    -webkit-box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);

}

.save-bt {
    padding: 7px 41px !important;
}

.add-activity-bt {
    color: #C83232;
    border: 1px solid #C83232;
}

.accordion-button:not(.collapsed) .save-bt {
    padding: 7px 41px;
}

.attach-area-width {
    max-width: 400px;
}

.edit-bt-size {
    width: 20px;
    height: 20px;
}



.font-20 {
    font-weight: 600;
    font-size: 24px;
}

.font-300-16 {
    font-weight: 300;
    font-size: 16px;
}

.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: black !important;
}

.border-white {
    border-color: white !important;
}

.bg-c-o {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

label.required:after {
    content: " *";
    color: red;
}

.select2-container--default .select2-selection--single {
    height: 40px;
    width: 100%;
}

#bgimg {
    position: relative;
    height: 412px;
    background-size: cover;
}

#bgimg .dz-preview {
    display: none;
}

.h-700p {
    height: 700px;
}

.h-460p {
    height: 460px;
}

.r-16 {
    border-radius: 16px;
}

.pt-32p {
    padding-top: 32px;
}

.pb-52p {
    padding-bottom: 52px;
}

.border-top-line {
    border-top: 1px solid #E2E2E2;
}

.select2-container--default .select2-selection--single {
    border-radius: 50px !important;


}

.add-size-img {
    width: 48px;
    height: 48px;
}

.heart-size-red {
    width: 25px;
    height: 25px;
}

.w-h-52p {
    width: 52px;
    height: 52px;
}

.line-set {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* For mobile phones: */

@media only screen and(min-width: 576px) {

    .perfect-item {
        max-width: 500px;
    }

    .travel {
        font-size: 25px !important;
    }



    .filters-p {
        font-size: 16px;
    }

    .member-info {
        /* display: flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
        width: 100%;
        max-width: 400px;
        padding-top: 20px;
        margin: 0 auto !important;
    }



    .Benjamin {

        font-weight: 700;
        font-size: 14px;
        color: #0E0E14;
    }

    .Benjamin-p {
        font-family: "Axiforma", Sans-serif;
        font-style: normal;
        /* font-weight: 300; */
        font-size: 12px;
        /* line-height: 25px; */

        /* Shades/Black/500 */

        color: #0E0E14;
    }

    .member-img {
        width: 76px;
    }

    .about-item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }


    .tiny-logo {
        margin-bottom: 30px;
    }

    .touch {
        margin: 30px 0;
    }

    .footer {
        padding: 0 20px;
    }

    .spotlight-center {
        margin: 0 auto;
    }

    .hero-section {
        min-height: 400px;
        height: auto;
    }
}

@media screen and (max-width: 1400px) {
    .wed-img {
        height: 360px;
    }
}

@media screen and (max-width: 1200px) {

    .wed-img {
        height: 330px;
    }
}

@media screen and (min-width: 1000px) {
    .mfp-content .white-popup {
        width: auto !important;
    }

}

@media screen and (max-width: 1024px) {

    .fs-16-300 {
        font-size: 14px;
    }

    .fs-16-300 {
        font-size: 14px;
    }

    .heart-size-red {
        width: 20px;
        height: 20px;
    }

    .fs-16-400 {
        font-size: 14px;
    }

    .fs-16-500 {
        font-size: 14px;
    }

    .fs-16-600 {
        font-size: 14px;
    }

    .fs-16-700 {
        font-size: 14px;
    }

    .filters-p {
        font-size: 16px;
    }

    .my-c {
        padding: 16px 0;
    }

    .travel {
        font-size: 24px;
    }

    .w-120i {
        max-width: 80px;
        height: 80px;
    }

    .w-24 {
        width: 24px;
        height: 24px;
    }

    .w-120 {
        height: 64px;
    }



    .add-size-img {
        width: 32px;
        height: 32px;
    }



    .title-p {
        font-size: 14px;
    }

    .bg-img {
        height: 200px;
    }



    .title1 {
        font-size: 16px;
        line-height: 1.4em;
    }

    .e-text-size {
        font-weight: 300;
        font-size: 10px;
    }

    .Ellipse {
        max-width: 160px;
    }

    .profile-tabs .nav-link {
        font-size: 18px;
        line-height: 1.4em;
        padding: 10px;
    }

    .width-48 {
        width: 24px;
    }

    .path-img {
        width: 24px;
        height: 20px;
    }

    .h-4 {
        font-size: 16px;
    }

    .foodie {
        font-size: 12px;
        padding: 3px 12px;
    }

    .city {
        font-size: 12px !important;
        margin-top: 10px !important;
        margin-bottom: 40px !important;
    }



    .cards-item {
        border-radius: 0;
        padding-left: 5px;
        padding-right: 5px;

    }





    .hero-content {
        padding: 88px 17px;
    }

    .explore-section h1 {
        font-size: 24px;

    }

    .explore-section h2 {
        font-size: 16px;
    }

    .navbar-brand img {
        width: 140px;
        height: 48px;
    }

    .membr {
        font-size: 24px;
        line-height: 1.4em;

    }

    .member-img {
        width: 80px;
        height: 80px;
    }

    .Benjamin {
        font-size: 20px;
    }

    .heart-size {
        width: 36px;
        height: 30px;
    }

    .related {
        font-size: 20px;
    }

    .border-card {
        min-height: 375px;
    }

    .nav-tabs {
        padding: 15px 0;
    }

    .coments {
        font-size: 20px;

    }

    .mt-32 {
        margin-top: 24px;
    }

    #bgimg {
        height: 338px;
    }

}


@media screen and (max-width: 992px) {
    .become-member {
        background: #2A293D;
        color: white;
    }

    .width-48 {
        width: 24px;
    }

    .mx-32 {
        margin-left: 24px;
        margin-right: 24px;
    }

    .scroller-h {
        overflow: auto;
    }

    .h-700p {
        height: 584px;
    }

    .profiles {
        height: auto;
    }

    .become-btn {
        background-color: #29293D;
    }

    .p-30p {
        padding: 24px;
    }

    .profiles {
        padding: 24px 36px;
    }

}

@media screen and (max-width: 768px) {
    .border-card {
        border: 0;
    }

    .icons-color {
        font-size: 85%;
    }

    .w-h-68p {
        height: 41px;
        width: 41px;
    }

    #bgimg {
        height: 300px;
    }

    .did-floating-input {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
    }

    .did-floating-label {
        top: 14px;
    }

    .pass-icon {
        top: 20px;
        right: 26px;
    }

    .d-h {
        height: 200px !important;
        overflow: hidden;
    }

    .pass-icon1 {
        top: 20px;
        right: 15px;
    }

    .profiler .fs-16-300 {
        font-size: 24px;
        font-weight: 500;
    }

    .fs-16-300 {
        font-size: 12px;
    }

    .hero-content-h2 {
        font-size: 50px;
    }

    .hero-content-p {
        max-width: 450px;
        font-size: 16px;
    }

    .margin-top-75 {
        margin-top: 35px;
    }

}

@media screen and (max-width: 576px) {
    .hero-content-h2 {
        font-size: 36px;
    }

    .mx-32 {
        margin-left: 8px;
        margin-right: 8px;
    }

    .filter-h2 {
        font-size: 16px;
    }

    .filter-logo-img {
        width: 28px;
        height: 28px;
    }

    .profiles {
        padding: 18px 24px;
    }

    .hero-content-p {
        max-width: 330px;
    }

    .margin-top-75 {
        margin-top: 22px;
    }

    .p-30p {
        padding: 13px;
    }

    #bgimg {
        height: 200px;
    }

    .h-700p {
        height: 600px;
    }

    .featuredimg-padding {
        padding: 34px 0;
    }

    .cards-item {
        padding-right: 5px;
    }



    .hero-content {
        padding: 50px 0px !important;
    }

    .bg-img {
        height: 172px !important;
    }

    .trip-h1 {
        font-size: 28px;
    }

    .slickslider .slick-slide {
        margin-left: 10px;
        margin-right: 10px;
    }

    .profile-img {
        width: 107px !important;
        height: 107px !important;
    }

    .card-title-profile {
        font-size: 20px !important;
    }

    .border-card {
        min-height: 360px !important;

    }

    .path-img {
        width: 21px !important;
        height: 17px !important;
    }

    .foodie {

        padding: 3px 8px !important;
    }


    .profile-relate {
        font-size: 16px !important;
    }



    .explore-section h1 {
        font-size: 20px !important;
        width: 190px;

    }

    .explore-section h2 {
        font-size: 14px !important;
    }

    .navbar-brand img {
        width: 114px !important;
        height: 40px !important;
    }

    .membr {
        font-size: 20px !important;

    }

    .member-img {
        width: 76px !important;
        height: 76px !important;
    }

    .Benjamin {
        font-size: 16px !important;
    }

    .Benjamin-p {
        font-size: 12px !important;
    }

    .heart-size {
        width: 24px !important;
        height: 20px !important;
    }

    .img-80px {
        width: 80px !important;
        height: 80px !important;
    }




    .nav-tabs {
        padding: 10px 0;
        margin-left: 31px;
    }

    .title1 {
        font-size: 16px !important;

    }

    .title-p {
        font-size: 12px !important;
    }

    .add-size-img {
        width: 24px !important;
        height: 24px !important;
    }

    .w-120 {
        height: 64px !important;
    }

    .footer {
        border: 0px solid black !important;
    }

    .hero-c-p {
        font-size: 13px !important;
    }

    .font-12 {
        font-size: 12px !important;
    }

    .join {
        font-size: 16px !important;
    }



    .w-120i {
        max-width: 64px !important;

        height: 64px !important;
    }

    .title1 {
        font-size: 14px !important;

    }

    .map-img {
        width: 70px !important;
        height: 70px !important;
    }

    .font-20 {
        font-size: 20px !important;
    }

    .travel {
        font-size: 20px !important;
    }

    .filters-p {
        font-size: 14px;
    }



    .member-h2 {
        font-size: 32px;
    }

    .border-card {
        border: none;
    }

    .socialpicsize img {
        width: 32px;
        height: 32px;
    }

    .profiler .fs-24-500 {
        font-weight: 600;
    }

    .heart-size-red {
        width: 15px;
        height: 15px;
    }

    .city img {
        width: 24px;
        height: 24px;
    }

    .add-photo-p {
        font-size: 18px;
    }

    .idays {
        flex-direction: column;
    }

    .m-p .accordion-button::after {
        margin-top: auto !important;
    }

    .line-idays {
        width: 90%;
        margin-left: auto;
        padding-top: 20px;
    }

    .line {
        opacity: .6;
    }

    .tags-description {
        margin: 16px 0;
    }

    .profile-tabs .nav-link {
        font-size: 15px;
        line-height: 1.4em;
        padding: 10px;
    }

    .profile-gap {
        gap: 10px;
    }

}