/* @font-face {
    font-family:  "ProximaNova-Regular";
    src: url("../fonts/ProximaNova-Regular.eot");
} */
@font-face {
    font-family: "Axiforma", Sans-serif;
    src: url('../fonts/Axiforma-SemiBold.eot');

    font-weight: 600;
    font-style: normal;
}

* {
    font-family: "Axiforma", Sans-serif;
}

.container {
    width: 100%;
    max-width: 1366px !important;
}


.text-clr {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #0F6496 !important;
}

.hero-section {
    background-image: url(../images/Header.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 400px; */
    height: auto;
}

.hero-content {
    padding: 150px 30px;
}

.hero-content h2 {
    /* font-family: "Axiforma", Sans-serif; */
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}

.hero-content p {
    /* font-family: "Axiforma", Sans-serif; */
    font-style: normal;

    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.explore-section h2 {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.bg-img {
    background-image: url(../images/Image_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px !important;

}

.bg-toro {
    background-image: url(../images/toro\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px !important;

}

.bg-fax {
    background-image: url(../images/Image\ \(3\).png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px !important;
}

.bg-turk {
    background-image: url(../images/Image\ \(4\).png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px !important;
}

.cards-item {
    border-radius: 20px;
}

.path-img {
    position: absolute;
    top: 85%;
    left: 79%;
}

.h-4 {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #29293D;
    font-family: "Axiforma", Sans-serif;
    padding: 20px 0px;
}

.foodie {
    border: 1px solid #0F6496;
    border-radius: 40px;
    color: #0F6496;
    text-decoration: none;
    padding: 8px 20px;
    background-color: transparent;
    /* margin: 0px 10px; */
    margin-right: 6px;
}

.tags {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    overflow: hidden;
}

.city {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    /* line-height: 24px; */
    color: #29293D;
    font-family: "Axiforma", Sans-serif;
    padding: 10px 0px;
}

.membr {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 76px;
    color: #000000;
}

.Benjamin {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 25px; */

    /* Shades/Black/500 */

    color: #0E0E14;
}

.Benjamin-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    /* font-weight: 300; */
    font-size: 16px;
    /* line-height: 25px; */

    /* Shades/Black/500 */

    color: #0E0E14;
}

.team-img {
    width: 120px;
    height: 120px;
}

.map img {
    width: 100%;
    max-width: 1250px;
}

.meet-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}

.anna {

    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

.slider-img {
    width: 100%;
    max-width: 400px;
    /* height: 300px; */
    margin: 0 auto;
}

.about-us {
    background: #D9EDF2;
}

.members {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 53px;
    text-transform: capitalize;
    color: #000000;
}

.about-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #29293D;
}

.join {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.frame-img img {
    width: 100%;
    max-width: 1000px;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

.member-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 76px;


    color: #29293D;
}

.become-btn {
    width: 201px;
    height: 48px;
    color: aliceblue;
    background: #7F7F8B;
    border-radius: 26px;
}

.perfect-item {
    width: 100%;
    max-width: 800px;
}

.about-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.content {
    width: 100%;
    max-width: 900px;
}

.list-unstyled a {
    text-decoration: none;
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2A293D;
}

.travel {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;

    color: #29293D;
}

.filters-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #545464;
}

.Ellipse {
    display: flex !important;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    max-width: 207px;
}

.footer-feild {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.member-img {
    width: 120px;
    margin-bottom: 20px;
}



.member-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.heart-img {
    width: 100px;
    max-width: 25px;
}

.social-descover {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #9F9FA1
}

.filter-bordr {

    width: 100%;
    max-width: 750px;
    justify-content: start;
}

.filter-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D9D9D9;
    border-top: 2px solid #D9D9D9;
    padding: 8px 0px;
}

#selected-feild button {
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 4px 18px;
    background: #0F6496;
    border-radius: 20px;
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
}

#selected-feild {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-logo-img {
    width: 21.33px;

}

.gap-2 {
    line-height: 38px !important;
}

.section-display {
    display: flex !important;
    justify-content: space-between !important;
}

footer {
    border-top: 1px solid #2A293D;

}

header {
    border-bottom: 1px solid #2A293D;
}

.trip-h1 {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 76px;
    color: #2A293D;
}

.profile {
    background: #FFFFFF;
    /* Card - Shadow */

    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
}

.profiles {
    background: #FFFFFF;
    /* Card - Shadow */

    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    height: 454px;
    overflow-y: auto;
}

.profiler {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
    /* identical to box height, or 200% */


    /* Primary/Dark Blue/500 */

    color: #2A293D;
}

.profiler-related {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px !important;
    line-height: 48px;
    /* identical to box height, or 200% */


    /* Primary/Dark Blue/500 */

    color: #2A293D;
}

.profile-details {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #1d1d1e;
}

.lang {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px !important;
    /* line-height: 24px; */


    color: #000000 !important;
}

.profile-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;


    color: #3E3E43;

}

.related {
    width: 100%;
    max-width: 400px;
}

.city {
    width: 100%;
    max-width: 500px;
}

.wed-img {
    width: 100%;
    max-width: 1000px;
    margin: 50px 0px;
}

.vector-img {

    height: 330px;

}

.red-p {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px !important;
    line-height: 24px;

    color: #C83232;
}

.yoga {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px !important;
    line-height: 24px;


    color: #3E3E43 !important;
}

.days-menu {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    /* max-width: 650px; */
}

.images-items {
    overflow-x: auto;
}

.line {
    width: 100%;
    max-width: 600px;
    height: 2px;
}

.sea-img {
    width: 200px;

}

.fam-img {
    width: 400px;

}

.seaimg {
    width: 128px;
    height: 100px;

}

.login-to-add {

    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px !important;
    line-height: 25px;
    color: #6E6E72 !important;
}

.coments {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 33px;
    color: #2A293D !important;
}

.load-btn {
    font-family: "Axiforma", Sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px !important;
    line-height: 24px;
    /* or 150% */


    /* Primary/Dark Blue/500 */

    color: #2A293D !important;
}

/* Floating input label */


.did-floating-label-content {
    position: relative;
    margin-bottom: 20px;
}

.did-floating-label {
    font-size: 16px;
    color: #0F6496;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 30%;
    padding: 0 5px;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.did-floating-input,
.did-floating-select {
    display: block;
    width: 100%;
    height: 58px;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: 1px solid #29293D;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
        outline: none;

        ~.did-floating-label {
            top: -8px;
            font-size: 16px;
        }
    }
}

select.did-floating-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.did-floating-select::-ms-expand {
    display: none;
}

.did-floating-input:not(:placeholder-shown)~.did-floating-label {
    top: -8px;
    font-size: 13px;
}

.did-floating-select:not([value=""]):valid~.did-floating-label {
    top: -8px;
    font-size: 13px;
}

.did-floating-select[value=""]:focus~.did-floating-label {
    top: 11px;
    font-size: 13px;
}

.did-floating-select:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%23003d71'/%3E%3C/svg%3E%0A");
    background-position: right 15px top 50%;
    background-repeat: no-repeat;
}

.did-error-input {

    .did-floating-input,
    .did-floating-select {
        border: 2px solid #9d3b3b;
        color: #9d3b3b;
    }

    .did-floating-label {
        font-weight: 600;
        color: #9d3b3b;
    }

    .did-floating-select:not([multiple]):not([size]) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%239d3b3b'/%3E%3C/svg%3E%0A");
    }
}

.input-group {
    display: flex;

    .did-floating-input {
        border-radius: 0 4px 4px 0;
        border-left: 0;
        padding-left: 0;
    }
}

.input-group-append {
    display: flex;
    align-items: center;
    /*   margin-left:-1px; */
}

.input-group-text {
    display: flex;
    align-items: center;
    font-weight: 400;
    height: 34px;
    color: #323840;
    padding: 0 5px 0 20px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #3D85D8;
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.profile-img {
    width: 121px;
    height: 121px;
}

.card-title {
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height, or 167% */
    color: #000000;
}

.card-text {
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.border-card {
    border-right: 2px solid #000000;
    padding-right: 30px;
    height: 744px;
}

.tab-content {
    width: 100%;
    margin: auto;
}

.nav-tabs {
    border-bottom: none !important;
    padding: 50px 0;

    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-color: #dee2e6;
    --bs-nav-tabs-border-radius: 0.375rem;
    /* --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6; */
    --bs-nav-tabs-link-active-color: #495057;
    /* --bs-nav-tabs-link-active-bg: #fff; */
    /* --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff; */
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);



}


/* For mobile phones: */

@media only screen and (min-width: 576px) {

    .perfect-item {
        max-width: 500px;
    }

    .travel {
        font-size: 25px !important;
    }

    .filters-p {
        font-size: 16px;
    }

    .member-info {
        /* display: flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
        width: 100%;
        max-width: 400px;
        padding-top: 20px;
        margin: 0 auto !important;
    }

    .Benjamin {

        font-weight: 700;
        font-size: 14px;
        color: #0E0E14;
    }

    .Benjamin-p {
        font-family: "Axiforma", Sans-serif;
        font-style: normal;
        /* font-weight: 300; */
        font-size: 12px;
        /* line-height: 25px; */

        /* Shades/Black/500 */

        color: #0E0E14;
    }

    .member-img {
        width: 76px;
    }

    .about-item {
        flex-wrap: wrap;
    }

    .hero-content h2 {
        font-size: 42px;
        line-height: 76px;

    }

    .tiny-logo {
        margin-bottom: 30px;
    }

    .touch {
        margin: 30px 0px;
    }

    .footer {
        padding: 0 20px;
    }

    .spotlight-center {
        margin: 0px auto;
    }

    .hero-section {
        min-height: 400px;
        height: auto;
    }
}
