<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mytinnery.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>My_tinnery</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="images/LOGO.png" alt="Company Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-clr" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-clr" href="#discover">Discover</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary  rounded-pill px-4" href="#membership">Become a
                                Member</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-clr" href="#login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="hero-section">
        <div class="container">
            <div class="hero-content">
                <h2>Welcome to Tinery</h2>
                <p>The Network for travelers, big and small, to discover and share their favourite experiences.</p>
            </div>

        </div>
    </div>

    <div class="explore">
        <div class="container">
            <div class="explore-section py-4">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Explore Popular Travel Itineraries</h2>
                    </div>
                    <div class="col-lg-6 text-end">
                        <h2>
                            <a href="#" class="text-decoration-none text-dark">Explore All</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-section py-3">
        <div class="container">
            <div class="cards-item">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card bg-img">
                            <div class="Ellipse bg-white m-3 rounded-pill p-2">
                                <div class="">
                                    <img src="images/toro (2).png" alt="">
                                </div>
                                <div class=" ">
                                    <span class="mx-3">Justin Lang</span>
                                </div>
                            </div>
                            <div class="heart-icon">
                                <a href="#"> <img src="images/Path.png" alt="" class="path-img"></a>
                            </div>
                        </div>
                        <h4 class="h-4">My Spring Break Trip</h4>
                        <div class="tags">
                            <a href="#"> <button class="foodie">Foodie</button></a>
                            <a href="#"> <button class="foodie">Backpacker</button></a>
                            <a href="#"> <button class="foodie">Backpacker</button></a>
                            <a href="#"> <button class="foodie">Backpacker</button></a>
                        </div>
                        <p class="city">Mexico City | 3 Days</p>
                    </div>

                    <div class="col-lg-3">
                        <div class="card bg-toro">
                            <div class="Ellipse bg-white m-3 rounded-pill p-2">
                                <div class="">
                                    <img src="images/toro (2).png" alt="">
                                </div>
                                <div class=" ">
                                    <span class="mx-3">Justin Lang</span>
                                </div>
                            </div>
                            <div class="heart-icon">
                                <a href="#"> <img src="images/Path.png" alt="" class="path-img"></a>
                            </div>
                        </div>
                        <h4 class="h-4">My Winter Break 2022</h4>
                        <div class="tags">
                            <a href="#"> <button class="foodie">Cold</button></a>
                            <a href="#"> <button class="foodie">Travel</button></a>
                            <!-- <a href="#"> <button class="foodie">Backpacker</button></a>
                            <a href="#"> <button class="foodie">Backpacker</button></a> -->
                        </div>
                        <p class="city">Toronto | 6 Days</p>
                    </div>
                    <div class="col-lg-3">
                        <div class="card bg-fax">
                            <div class="Ellipse bg-white m-3 rounded-pill p-2">
                                <div class="">
                                    <img src="images/toro (2).png" alt="">
                                </div>
                                <div class=" ">
                                    <span class="mx-3">Justin Lang</span>
                                </div>
                            </div>
                            <div class="heart-icon">
                                <a href="#"> <img src="images/Path.png" alt="" class="path-img"></a>
                            </div>
                        </div>
                        <h4 class="h-4">Autumn Escape</h4>
                        <div class="tags">
                            <a href="#"> <button class="foodie">Leaves</button></a>
                            <a href="#"> <button class="foodie">Coffee</button></a>
                            <a href="#"> <button class="foodie">Planned</button></a>
                            <a href="#"> <button class="foodie">Fun</button></a>
                        </div>
                        <p class="city">Scotland | 6 Days</p>
                    </div>
                    <div class="col-lg-3">
                        <div class="card bg-turk">
                            <div class="Ellipse bg-white m-3 rounded-pill p-2">
                                <div class="">
                                    <img src="images/toro (2).png" alt="">
                                </div>
                                <div class=" ">
                                    <span class="mx-3">Justin Lang</span>
                                </div>
                            </div>
                            <div class="heart-icon">
                                <a href="#"> <img src="images/Path.png" alt="" class="path-img"></a>
                            </div>
                        </div>
                        <h4 class="h-4">Semester Abroad</h4>
                        <div class="tags">
                            <a href="#"> <button class="foodie">Leaves</button></a>
                            <a href="#"> <button class="foodie">Coffee</button></a>
                            <a href="#"> <button class="foodie">Planned</button></a>
                            <a href="#"> <button class="foodie">Fun</button></a>
                        </div>
                        <p class="city">Turkey | 3 Days</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="member-spot">
        <div class="container">
            <div class="spotlight">
                <div class="row spotlight-center">
                    <h2 class="membr">Members Spotlight</h2>
                    <div class="col-lg-4">
                        <div class="member-info d-flex align-items-center justify-content-between">
                            <div class="">
                                <a href="#"> <img src="images/hat.png" alt="" class="member-img"></a>
                            </div>
                            <div class="mx-3">
                                <h4 class="Benjamin">Benjamin Franklin</h4>
                                <p class="Benjamin-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                            </div>
                            <div class="">
                                <img src="images/black.png" alt="" class="heart-img">
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4">
                        <div class="member-info">
                            <div class="">
                                <a href="#"> <img src="images/hat.png" alt="" class="member-img"></a>
                            </div>
                            <div class="mx-3">
                                <h4 class="Benjamin">Benjamin Franklin</h4>
                                <p class="Benjamin-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                            </div>
                            <div class="">
                                <img src="images/black.png" alt="" class="heart-img">
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="member-info">
                            <div class="">
                                <a href="#"> <img src="images/hat.png" alt="" class="member-img"></a>
                            </div>
                            <div class="mx-3">
                                <h4 class="Benjamin">Benjamin Franklin</h4>
                                <p class="Benjamin-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                            </div>
                            <div class="">
                                <img src="images/black.png" alt="" class="heart-img">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row  spotlight-centermt-4">
                    <!-- <h2 class="membr">James Dean</h2> -->
                    <div class="col-lg-4">
                        <div class="member-info">
                            <div class="">
                                <a href="#"> <img src="images/hat.png" alt="" class="member-img"></a>
                            </div>
                            <div class="mx-3">
                                <h4 class="Benjamin">Benjamin Franklin</h4>
                                <p class="Benjamin-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                            </div>
                            <div class="">
                                <img src="images/black.png" alt="" class="heart-img">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="member-info">
                            <div class="">
                                <a href="#"> <img src="images/hat.png" alt="" class="member-img"></a>
                            </div>
                            <div class="mx-3">
                                <h4 class="Benjamin">Benjamin Franklin</h4>
                                <p class="Benjamin-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                            </div>
                            <div class="">
                                <img src="images/black.png" alt="" class="heart-img">
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="member-info">
                            <div class="">
                                <a href="#"> <img src="images/hat.png" alt="" class="member-img"></a>
                            </div>
                            <div class="mx-3">
                                <h4 class="Benjamin">Benjamin Franklin</h4>
                                <p class="Benjamin-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                            </div>
                            <div class="">
                                <img src="images/black.png" alt="" class="heart-img">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="world">
        <div class="container">
            <h2 class="membr">Explore Your World</h2>
            <div class="map">
                <iframe src="https://www.google.com/maps/d/embed?mid=1PdXSyjjbalDBQ2IKJDLhTgnq_9E&hl=en_US&ehbc=2E312F"
                    width="100%" height="550"></iframe>

            </div>
        </div>
    </div>

    <div class="social-media">
        <div class="container">
            <h2 class="membr my-2">Discover More on Social</h2>

            <div class="row">
                <div class="col-lg-2 ">
                    <div class="social-descover">
                        <div class="">
                            <img src="images/Ellipse 6.png" alt="">
                        </div>
                        <div class="">
                            <h6 class="anna">Anna Jones</h6>
                        </div>
                        <div class="">
                            <img src="images/Logo 2.png" alt="">
                        </div>
                    </div>
                    <img src="images/Frame 189.png" alt="" class="w-100">

                    <div class="pt-2">
                        <p class="meet-p">Had a lovely break.Meet my new best friend Mr.Flamingo! 😂😂
                            #Tinery #RelaxiTaxi #Fun #Reset</p>
                    </div>
                </div>
                <div class="col-lg-2 ">
                    <div class="social-descover">
                        <div class="">
                            <img src="images/Ellipse 6.png" alt="">
                        </div>
                        <div class="">
                            <h6 class="anna">Anna Jones</h6>
                        </div>
                        <div class="">
                            <img src="images/Logo 2.png" alt="">
                        </div>
                    </div>
                    <img src="images/Frame 189.png" alt="" class="w-100">

                    <div class="pt-2">
                        <p class="meet-p">Had a lovely break.Meet my new best friend Mr.Flamingo! 😂😂
                            #Tinery #RelaxiTaxi #Fun #Reset</p>
                    </div>
                </div>

                <div class="col-lg-2 ">
                    <div class="social-descover">
                        <div class="">
                            <img src="images/Ellipse 6.png" alt="">
                        </div>
                        <div class="">
                            <h6 class="anna">Anna Jones</h6>
                        </div>
                        <div class="">
                            <img src="images/Logo 2.png" alt="">
                        </div>
                    </div>
                    <img src="images/Frame 189.png" alt="" class="w-100">

                    <div class="pt-2">
                        <p class="meet-p">Had a lovely break.Meet my new best friend Mr.Flamingo! 😂😂
                            #Tinery #RelaxiTaxi #Fun #Reset</p>
                    </div>
                </div>

                <div class="col-lg-2 ">
                    <div class="social-descover">
                        <div class="">
                            <img src="images/Ellipse 6.png" alt="">
                        </div>
                        <div class="">
                            <h6 class="anna">Anna Jones</h6>
                        </div>
                        <div class="">
                            <img src="images/Logo 2.png" alt="">
                        </div>
                    </div>
                    <img src="images/Frame 189.png" alt="" class="w-100">

                    <div class="pt-2">
                        <p class="meet-p">Had a lovely break.Meet my new best friend Mr.Flamingo! 😂😂
                            #Tinery #RelaxiTaxi #Fun #Reset</p>
                    </div>
                </div>

                <div class="col-lg-2 ">
                    <div class="social-descover">
                        <div class="">
                            <img src="images/Ellipse 6.png" alt="">
                        </div>
                        <div class="">
                            <h6 class="anna">Anna Jones</h6>
                        </div>
                        <div class="">
                            <img src="images/Logo 2.png" alt="">
                        </div>
                    </div>
                    <img src="images/Frame 189.png" alt="" class="w-100">

                    <div class="pt-2">
                        <p class="meet-p">Had a lovely break.Meet my new best friend Mr.Flamingo! 😂😂
                            #Tinery #RelaxiTaxi #Fun #Reset</p>
                    </div>
                </div>
                <div class="col-lg-2 ">
                    <div class="social-descover">
                        <div class="">
                            <img src="images/Ellipse 6.png" alt="">
                        </div>
                        <div class="">
                            <h6 class="anna">Anna Jones</h6>
                        </div>
                        <div class="">
                            <img src="images/Logo 2.png" alt="">
                        </div>
                    </div>
                    <img src="images/Frame 189.png" alt="" class="w-100">

                    <div class="pt-2">
                        <p class="meet-p">Had a lovely break.Meet my new best friend Mr.Flamingo! 😂😂
                            #Tinery #RelaxiTaxi #Fun #Reset</p>
                    </div>
                </div>


            </div>

            <div class="row d-flex  align-items-center">
                <div class="col-lg-2 ">
                    <img src="Tiktok Post 01.png" alt="" class="slider-img">
                </div>
                <div class="col-lg-2 ">
                    <img src="Tiktok Post 01.png" alt="" class="slider-img">
                </div>
                <div class="col-lg-2 ">
                    <img src="Tiktok Post 01.png" alt="" class="slider-img">
                </div>
                <div class="col-lg-2 ">
                    <img src="Tiktok Post 01.png" alt="" class="slider-img">
                </div>
                <div class="col-lg-2 ">
                    <img src="Tiktok Post 01.png" alt="" class="slider-img">
                </div>
                <div class="col-lg-2 ">
                    <img src="Tiktok Post 01.png" alt="" class="slider-img">
                </div>





            </div>
        </div>
    </div>

    <div class="about-us py-4">
        <div class="container">
            <div class="about-item">
                <div class="content">
                    <h2 class="membrs">About Us</h2>
                    <p class="about-p">Join our network today and become part of a growing community of travel
                        enthusiasts.</p>
                    <p class="about-p">Tinery aims to disrupt the #travelinspo industry by taking the power away from
                        algorithms and into the hands of real people. With our unique focus on user-generated content,
                        we empower travel creators to build awareness and reputation, and allow travel consumers to find
                        more personalized and authentic travel recommendations from their peers.</p>
                </div>

                <div>
                    <a href="#"><button class="btn btn-dark rounded-pill px-4 join">Join Tinery</button></a>
                </div>
            </div>
        </div>
    </div>



    <footer class="footer py-4 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 ">
                    <img src="images/LOGO.png" alt="Logo" class="img-fluid tiny-logo">
                </div>
                <div class="col-lg-2 col-sm-6">
                    <ul class="list-unstyled">
                        <li><a href="#">Share an Itinerary</a></li>
                        <li><a href="#" class="gap-2">Discover</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 px-2">
                    <ul class="list-unstyled">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#" class="gap-2">Contact Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 touch">
                    <h5>Let’s stay in touch</h5>
                    <p>We are working to make things better. You can get notified subscribing below</p>
                    <form>
                        <div class="footer-field d-flex align-items-center">
                            <div class="form-group w-100">
                                <input type="email" class="form-control rounded-pill px-3"
                                    placeholder="Enter your email">
                            </div>
                            <button type="submit" class="btn btn-dark join rounded-pill px-4 mx-2">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="footer-bar mt-5">
                    <div class="media-links">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><img src="images/facebook.png" alt="Facebook"></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><img src="images/twitter.png" alt="Twitter"></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><img src="images/instagram.png"
                                        alt="Instagram"></a></li>
                        </ul>
                    </div>
                    <div class="media-p">
                        <p>2022 Tinery, Inc. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>



</body>

</html>