body.login-page {
    background-size: cover;
    background-repeat: no-repeat;
}

body.login-page div.has-feedback {
    position: relative;
}

body.login-page div.has-feedback i {
    position: absolute;
    right: 5px;
    top: 10px;
}

body.login-page span.invalid-feedback {
    display: block;
}

div.br-sideleft-menu a {
    color: white;
}

span.required {
    color: red;
}

table#datatable1 td p {
    margin: 0px;
}

a:not([href]):not([tabindex]) {
    color: rgb(2, 108, 230);
}

.permission-body {
    padding-left: 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #000 !important;
}
.permission-card {
    box-shadow: 1px 1px 9px -3px gray;
    margin: 10px;
}

.permission-body p span {
    display: inline-block;
    min-width: 75% !important;
}

.permission-body p a {
    margin: 0px 10px;
}

.permission-body p a:hover {
    box-shadow: 0px 1px 2px 1px #bbbaba;
}

.login-box,
.register-box {
    width: 450px;
    margin: 10% auto;
    box-shadow: 0px 0px 23px -4px black;
}

.settings-uploads img {
    width: 65%;
}

#main {
    margin: 50px 0;
  }

  #main #faq .card {
    margin-bottom: 30px;
    border: 0;
  }

  #main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
            box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
  }

  #main #faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    color: #222;
    padding: 20px;
  }

.remove-btn.rounded-circle {
    position: absolute;
    top: 12px;
    z-index: 11111;
    padding: 8px;
    right: 41px;
}

  #main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
  }



  #main #faq .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
  }

  #main #faq .card .collapse {
    border: 0;
  }

  #main #faq .card .collapse.show {
    /* background: #FFE472; */
    line-height: 30px;
    color: #222;
  }
